.post{
   max-width: 640px;
   margin: 20px auto;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   border: 1px solid lightgray;
   padding-bottom: 3%;
   justify-items: flex-start;
  
}

.post-header{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    font-size: .7rem;
    padding: 2% 0;
}

.post-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    margin-right: 6%;
}

.comment-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 4%;
  
}

h3{
    font-size: 1rem;
}

.likes{
    width: 90px;
    height: 50px;
    
}

